html, body, #root {
  background-color: #121212;
  height: 100%;
  color: white;
  overflow-x: hidden;
}

.overflow-x {
    overflow-x: auto; /* allows horizontal scrolling */
    white-space: nowrap; /* keeps items in one line */
    -webkit-overflow-scrolling: touch; /* smooth scrolling on iOS */

    /* Firefox scrollbar */
    scrollbar-width: thin; /* makes it thin */
    scrollbar-color: rgba(136, 136, 136, 0.5) transparent; /* minimal default color */
}

/* WebKit browsers: Chrome, Edge, Safari */
.overflow-x::-webkit-scrollbar {
    height: 6px; /* thin horizontal scrollbar */
}

.overflow-x::-webkit-scrollbar-thumb {
    background-color: rgba(136, 136, 136, 0.5); /* minimal default color */
    border-radius: 3px;
    transition: background-color 0.3s, height 0.3s;
}

.overflow-x::-webkit-scrollbar-thumb:hover {
    background-color: rgba(136, 136, 136, 0.9); /* darker on hover */
    height: 8px; /* slightly bigger on hover */
}

.overflow-x::-webkit-scrollbar-track {
    background-color: transparent; /* keeps the track invisible */
}
