html, body, #root {
  min-height: 100%;
  color: white;
  overflow-x: hidden;

  background:
    radial-gradient(circle at top left, rgba(72, 61, 139, 0.3), transparent 40%),
    radial-gradient(circle at bottom right, rgba(0, 206, 209, 0.25), transparent 50%),
    linear-gradient(180deg, #121212 0%, #0a0a0a 100%);
  max-height: 100vh;
}

.overflow-x {
    overflow-x: auto; /* allows horizontal scrolling */
    white-space: nowrap; /* keeps items in one line */
    -webkit-overflow-scrolling: touch; /* smooth scrolling on iOS */

    /* Firefox scrollbar */
    scrollbar-width: thin; /* makes it thin */
    scrollbar-color: rgba(136, 136, 136, 0.5) transparent; /* minimal default color */
}

/* WebKit browsers: Chrome, Edge, Safari */
.overflow-x::-webkit-scrollbar {
    height: 6px; /* thin horizontal scrollbar */
}

.overflow-x::-webkit-scrollbar-thumb {
    background-color: rgba(136, 136, 136, 0.5); /* minimal default color */
    border-radius: 3px;
    transition: background-color 0.3s, height 0.3s;
}

.overflow-x::-webkit-scrollbar-thumb:hover {
    background-color: rgba(136, 136, 136, 0.9); /* darker on hover */
    height: 8px; /* slightly bigger on hover */
}

.overflow-x::-webkit-scrollbar-track {
    background-color: transparent; /* keeps the track invisible */
}
